/* Main style file */

/* Inheritance is GREAT... but when we have elements that are specified it will override this. */

body {
  /* Most properties involving `FONT-` are inherited by child(ren) elements */
  font-family: Helvetica;
  color: darkgrey;
}

.card {
  width: 400px;
  /* We have to use `inline-block` because `inline` display does not accept `width` as a property */
  display: inline-block;
  /*
  Vertical aligning will allow us to overcome alignment issues with `display: inline-block`. */
  vertical-align: top;
}

.card__button {
  background-color: grey;
  border-radius: 4px;
  display: block;
  /*
    Long form padding
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
  */

  /*
    First value: Top, Bottom...
    Second value: Left, Right...
  */
  padding: 10px 20px;
  /*
    This will only work inside of a set width element (not an `inline` one) 
  */
  text-align: center;
  text-decoration: none;
}

.card__image {
  /* Using a "relative width" */
  width: 100%;
}

/* Overriding the default browser styles for "a" tags... this class selector is *more* specific. */
.link--red {
  color: darkred;
}
